<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app">
      <label for="character-name">New Character:</label>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyup.enter="addCustomCharacter"
      />
      <h3>Character List:</h3>
      <p v-if="characterList.length === 0 && customCharacterList.length === 0">
        There are no characters
      </p>
      <div v-else>
        <ul v-if="characterList.length > 0">
          <li v-for="character in characterList">
            {{character.name}} {{character.elements .join(", ")}}
            <div>
              <button @click="addToFavourites(character)">
                Add to Favourites
              </button>
            </div>
          </li>
        </ul>
        <ul v-if="customCharacterList.length > 0">
          <li v-for="character in customCharacterList">
            {{character.name}}
            <div>
              <button @click="addToFavourites(character)">
                Add to Favourites
              </button>
              <button @click="removeCustomCharacter(character)">Delete</button>
            </div>
          </li>
        </ul>
      </div>

      <h3>Favourite List:</h3>
      <p v-if="favouriteList.length === 0">You have no favourite characters</p>
      <ul v-else>
        <li v-for="favourite in favouriteList">
          {{favourite.name}}
          <div>
            <button @click="removeFromFavourites(favourite)">
              Remove from Favourites
            </button>
          </div>
        </li>
      </ul>
      <h3>Statistics</h3>
      <ul>
        <li>Water:</li>
        <li>Earth: {{earthBenderList.length}}</li>
        <li>Fire:</li>
        <li>Air:</li>
      </ul>
    </div>

    <script>
      Vue.createApp({
        data: () => ({
          characterList: [
            { name: "Aang", elements: ["Water", "Earth", "Fire", "Air"] },
            { name: "Katara", elements: ["Water"] },
            { name: "Zokka", elements: [] },
            { name: "Toph", elements: ["Earth"] },
            { name: "Zuko", elements: ["Fire"] },
          ],
          customCharacterList: [],
          favouriteList: [],
          newCharacter: {
            name: "",
            elements: [],
          },
        }),
        computed: {
          earthBenderList() {
            return this.favouriteList.filter((character) =>
              character.elements.includes("Earth")
            );
          },
        },
        methods: {
          addToFavourites(character) {
            if (!this.favouriteList.includes(character))
              this.favouriteList.push(character);
          },
          removeFromFavourites(character) {
            const index = this.favouriteList.indexOf(character);
            if (index > -1) this.favouriteList.splice(character, 1);
          },
          addCustomCharacter() {
            if (this.newCharacter.name.length > 0) {
              this.customCharacterList.push(this.newCharacter);
              this.newCharacter.name = "";
              this.newCharacter.elements = [];
            }
          },
          removeCustomCharacter(character) {
            const index = this.customCharacterList.indexOf(character);
            if (index > -1) this.customCharacterList.splice(character, 1);
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
